<div>
    <div id="demobox" class="container vertical rounded">

        <h2 style="color: cornsilk;">Table</h2>
        <p>blah{{tableData}}</p>
        <div class="row">
            <button (click)="onButtonClick()">District View</button>
            <button (click)="onButtonClick()">Mandal View</button>
            <label class="control-label" style="font-size: 18px; color: red;">Threshold</label>
            <input [(ngModel)]="threshold">
            <button type="submit" (click)="updateThreshold()" class="btn btn-primary">Go</button>
        </div>
        <table mat-table *ngIf="show" id="t01" [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="District">
                <th mat-header-cell *matHeaderCellDef> District </th>
                <td mat-cell *matCellDef="let element"> {{element['District']}} </td>
            </ng-container>

            <ng-container matColumnDef="17:30-23:30">
                <th mat-header-cell *matHeaderCellDef> 17:30 To 23:30 </th>
                <td mat-cell *matCellDef="let element"> {{element['17:30-23:30']}} </td>
            </ng-container>
            <ng-container matColumnDef="24 Hrs">
                <th mat-header-cell *matHeaderCellDef> 24 Hrs </th>
                <td *matCellDef="let element"> {{element['24 Hrs']}} </td>
            </ng-container>
            <ng-container matColumnDef="23:30-05:30">
                <th mat-header-cell *matHeaderCellDef> 23:30 To 05:30 </th>
                <td mat-cell *matCellDef="let element"> {{element['23:30-05:30']}} </td>
            </ng-container>
            <ng-container matColumnDef="11:30-17:30">
                <th mat-header-cell *matHeaderCellDef> 11:30 To 17:30 </th>
                <td *matCellDef="let element"> {{element['11:30-17:30']}} </td>
            </ng-container>
            <ng-container matColumnDef="05:30-11:30">
                <th mat-header-cell *matHeaderCellDef> 05:30 To 11:30 </th>
                <td mat-cell *matCellDef="let element"> {{element['05:30-11:30']}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <table mat-table *ngIf="!show" id="t01" [dataSource]="dataSource1" class="mat-elevation-z8">
            <ng-container matColumnDef="District">
                <th mat-header-cell *matHeaderCellDef> District </th>
                <td mat-cell *matCellDef="let element"> {{element['District']}} </td>
            </ng-container>

            <ng-container matColumnDef="Mandal">
                <th mat-header-cell *matHeaderCellDef> Mandal</th>
                <td mat-cell *matCellDef="let element"> {{element['Mandal']}} </td>
            </ng-container>

            <ng-container matColumnDef="17:30-23:30">
                <th mat-header-cell *matHeaderCellDef> 17:30 To 23:30 </th>
                <td mat-cell *matCellDef="let element"> {{element['17:30-23:30']}} </td>
            </ng-container>
            <ng-container matColumnDef="24 Hrs">
                <th mat-header-cell *matHeaderCellDef> 24 Hrs </th>
                <td *matCellDef="let element"> {{element['24 Hrs']}} </td>
            </ng-container>
            <ng-container matColumnDef="23:30-05:30">
                <th mat-header-cell *matHeaderCellDef> 23:30 To 05:30 </th>
                <td mat-cell *matCellDef="let element"> {{element['23:30-05:30']}} </td>
            </ng-container>
            <ng-container matColumnDef="11:30-17:30">
                <th mat-header-cell *matHeaderCellDef> 11:30 To 17:30 </th>
                <td *matCellDef="let element"> {{element['11:30-17:30']}} </td>
            </ng-container>
            <ng-container matColumnDef="05:30-11:30">
                <th mat-header-cell *matHeaderCellDef> 05:30 To 11:30 </th>
                <td mat-cell *matCellDef="let element"> {{element['05:30-11:30']}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>
    </div>
</div>