<router-outlet>
</router-outlet>

<!-- <ejs-splitter #horizontal height='100%' width='100%'>
    <e-panes>
        <e-pane size='30%'>
            <ng-template #content>
                <app-side-nav-bar>
                </app-side-nav-bar>
            </ng-template>
        </e-pane>
        <e-pane size='60%'>
            <ng-template #content>
                <app-map></app-map>
            </ng-template>
        </e-pane>
        <e-pane size='25%'>
            <ng-template #content>
                <app-data-tab></app-data-tab>
            </ng-template>
        </e-pane> -->
<!-- </e-panes>
</ejs-splitter> -->
<div>
    <div class="row">
        <div class="column" style="width: 100px;">
            <app-side-nav-bar></app-side-nav-bar>
        </div>

        <!-- <div id="demobox" class="column" style="width: 600px;">
            <app-data-tab></app-data-tab>
        </div> -->
        <div class="column" style="width: 200px;">
            <app-map></app-map>
        </div>

    </div>
    <div style="position: absolute !important">
        <app-footer></app-footer>
    </div>
</div>