<!-- <html>

<head>
    Top Navigaton bar
</head>

<body>
    <div class="row">

        <div class="tab">
            <ul>
                <li> <a routerLink="/extremeweather/rainfall" routerLinkActive="router-link-active">Rainfall</a></li>


                <li> <a routerLink="/extremeweather/humidity" routerLinkActive="router-link-active">Humidity</a></li>


                <li><a routerLink="/extremeweather/temperature" routerLinkActive="router-link-active">Temperature</a></li>

                <li><a routerLink="/extremeweather/windspeed" routerLinkActive="router-link-active">Wind Speed</a></li>
            </ul>
        </div>
    </div>

</body> -->
<app-data-tab [tableData]="tableData" (eventChange)="changeEvent($event)"></app-data-tab>

<!-- </html> -->